<div class='container'>
	
	<!--report title-->
	<h1>{{vm.data.title}}</h1>
	
	<!--date-->
	<p>{{vm.currentDate | date: 'medium' }}</p>
	<form action="">
		<!--list of inputs-->
		<ul style='padding-left:0px'>
			<li style='list-style:none; height:56px' ng-repeat='question in vm.data.questions'>
				<!--The question-->
				<span style='padding-left:0px; padding-top: 10px; font-size:1.5em;' ng-class='question.titleClasses'>
					<strong>{{question.name}}:</strong> <br>
					<!--<span style='font-size:.5em; padding-top: 0px; '>{{question.description}}</span>-->
				</span>

				<!--Input field: No Datalist-->
				<span ng-if='!question.datalist' style='height:56px; padding-left:0px; padding-right:0px; font-size:2em;' ng-class='question.inputClasses'>

					<!--Input field: Text-->
					<input ng-if='question.type==="text"' type="text" style='width:100%; height:56px' placeholder={{question.suggestion}}>
					
					<!--Input field: Number-->
					<div ng-if='question.type==="number"' class="input-group pull-right" style='width:100%; height:56px'>
					  <span class="input-group-addon" style='padding-left:5px; padding-right:5px;'>$</span>
					  <input type="text" class="form-control" style='width:100%; height:56px'>
					  <span class="input-group-addon" style='padding-left:5px; padding-right:5px;'>.00</span>
					</div>

					
					
					<!--<input type="number"  placeholder={{question.suggestion}}>
					-->
				</span>
				
				<!--Input field: Datalist-->
				<span ng-if='question.datalist' style='height:56px; padding-left:0px; padding-right:0px; font-size:2em;' ng-class='question.inputClasses'>
					<input list='eventTypePicker' name='eventTypePicker' style='width:100%; height:56px' placeholder={{question.suggestion}}>
					<datalist name="eventTypePicker" id="eventTypePicker">
						<option ng-repeat='market in question.listValues' value={{market}}>{{market}}</option>
					</datalist>
				</span>

				<!--Approval button-->
				<div style='padding-left:0px; padding-right:0px' class="round-button pull-right" ng-class='question.approvalClasses'><div class="round-button-circle"><a ng-click='' class="round-button">YES!</a></div></div>
			
			</li>	
		</ul>
	</form>

	<!--submission buttn-->
	<button style="margin-top:50px; margin-bottom:50px; font-size:5em;" class="btn btn-success col-xs-12 col-sm-12 col-md-12 col-lg-12">Submit</button>
</div>