<div class='container'>
	
	<!--report title-->
	<h1>{{vm.data.title}}</h1>
	
	<!--date-->
	<p>{{vm.currentDate | date: 'medium' }}</p>
	<form action="">
		<!--list of inputs-->
		<ul style='padding-left:0px'>
			<li style='list-style:none; height:50px' ng-repeat='question in vm.data.questions'>
				<!--The question-->
				<span style='padding-left:0px; padding-top: 10px; font-size:1.5em;' ng-class='question.titleClasses'>
					<strong>{{question.name}}:</strong> <br>
					<!--<span style='font-size:.5em; padding-top: 0px; '>{{question.description}}</span>-->
				</span>
				<!--Input field-->
				<input type="text" style='height:56px; padding-left:0px; padding-right:0px; font-size:2em;' ng-class='question.inputClasses'>
				<!--Approval button-->
				<div style='padding-left:0px; padding-right:0px' class="round-button pull-right" ng-class='question.approvalClasses'><div class="round-button-circle"><a ng-click='' class="round-button">YES!</a></div></div>
			</li>	
		</ul>
	</form>

	<!--submission buttn-->
	<button style="margin-top:50px" class="btn btn-success col-xs-12 col-sm-12 col-md-12 col-lg-12">Submit</button>
</div>