.round-button {
	width:50px;
}
.round-button-circle-free {
	width: 110%;
	height:0px;
	padding-bottom: 100%;
    border-radius: 50%;
	border:3px solid #cfdcec;
    overflow:hidden;
    
    background: #d5833a; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle-approved {
	width: 110%;
	height:0px;
	padding-bottom: 100%;
    border-radius: 50%;
	border:3px solid #cfdcec;
    overflow:hidden;
    
    background: #449d44; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle-revised {
	width: 110%;
	height:0px;
	padding-bottom: 100%;
    border-radius: 50%;
	border:3px solid #cfdcec;
    overflow:hidden;
    
    background: #d9534f; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
}